@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200;1,400&display=swap');
@font-face {
    font-family: "Phosphote";
    src: url(./assets/Phosphor\ CG.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
    font-family: 'Phosphote';
    overflow: hidden;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
}

button {
    border-style:none;
    outline: none;
    font-family: 'Phosphote';
    font-size: 1.9rem;
    color: #D02914;
    width: 9.2rem;
    height: 3rem;
    background: rgba(250, 177, 6, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px; 
    cursor: pointer;
}

button:hover{
    background-color:#D02914 ;
    color:  rgba(250, 177, 6, 0.65);
 
}

button:active{
    transform: scale(0.89);
}

.App {
    background: linear-gradient(174.36deg, rgba(250, 185, 32, 0.9) 8.06%, rgba(253, 209, 14, 0.7) 51.16%, rgba(250, 185, 33, 0.7) 95.51%);
    height: 100vh;
}

.header {
    padding: 2.5rem;
    font-size: 3rem;
    line-height: 5rem;
}

.red {
    color: #D02914;
}

.Block {
    position: Absolute;
    top: 50%;
    background-color:#000;
    width: 100%;
    height: 10.7rem;
    z-index: 0;
}

.chat-group{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Images{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
   
}

.Chuck{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    z-index: 2;
}

.Trump{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    height: auto;
}

.Glass {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 100%);
    border-radius: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.Chuck-Glass{
    position: absolute;
    top: 10%;
    left: 35%;
    display: flex;
    width: 16rem;
    height: 21rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1rem;
 
}

.Chuck-Glass p{
padding-top: 2.2rem;
}

.Trump-Glass {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 21rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;

}

/*ADD MEDIA QUERIES*/